<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Thank you for playing</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link rel="stylesheet" type="text/css"
          href="webjars/bootstrap/3.3.7/css/bootstrap.min.css"/>
</head>
<div id="firsttablediv">
    <table id="firsttable" border="1">
        <thead>
        <th>Round</th>
        <th>Allocated</th>
        <th>Price</th>
        <th>Bids</th>

        </thead>
        <tbody id="insertfirsttable">
        </tbody>
    </table>
</div>

<script type="text/javascript"
        src="webjars/jquery/2.2.4/jquery.min.js"></script>

<script type="text/javascript" src="js/finish.js"></script>

<body>


</body>
</html>